{% extends 'base.html' %}

{% block title %}Обо мне{% endblock %}

{% block main %}
    <h1 align="center" class="hello">Присоединяйся ко мне в соц.сетях</h1>
    <div class="social-icons">
        <a href="https://www.vk.com/yourusername" target="_blank">
          <img src="static/img/vk-64.webp" alt="VK Icon">
        </a>
        <a href="https://www.instagram.com/yourusername" target="_blank">
          <img src="static/img/1_Instagram_colored_svg_1-64.webp" alt="Instagram Icon">
        </a>
      </div>
{% endblock %}